/* Parent Wrapper/* */
#pw { }
	/* Heading */
	#pw #hd { background: #000; overflow: auto; }
		
		/* Header Text */
		#hd header { float: left; }
			#hd header h1 { color: #FFF; display: inline-block; font-weight: bold;}
			#hd header h4 { background: #FFF; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; color: #000; display: inline-block; font-style: italic; }
		
		/* Navigation */
		#hd nav { color: #fff; float: right; margin: 10px 0 0; }
			#hd nav li { display: inline-block; font-family: Univers, 'Nimbus Sans', Helvetica, Arial, sans-serif; font-size: 1.25em; letter-spacing: -.05em; margin: 0 5px; }
				#hd nav li a { color: #fff; text-decoration: none; }
					#hd nav li a.ac { background: #fff; border-bottom: 5px solid #fff; border-left: 3px solid #fff; border-right: 3px solid #fff;  border-top: 11px solid #fff; color: #000; font-style: italic; }
					
		/* Body Text */
		#bd { }
			
			/* Video */
			#bd .stage { }
				#bd .stage .stageInner { background: url(../img/videoBG.jpg) no-repeat left top; width: 855px; height: 561px; margin: 0 auto; }
					#bd .stage .stageInner video { margin: 100px 0 0 180px; }